@media screen and (min-width:320px) and (max-width:480px){

    .logo-inc {
        height: 7vh;
    }

    .botao{
        display: none;
    }

    .login {
        color: white;
        font-size: 85%;
        font-weight: bold;
        display: flex;
        width: 20vw;
    }

    .register {
        width: 30vw;
        height: 5vh;
        border-radius: 50px;
        border: none;
        font-weight: bold;
        font-size: 85%;
        /* background-color: aqua; */
    }

    .sec-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10%;
        /* background-color: aqua; */
    }

    .sec-1-left {
        margin-left: 0px;
        /* background-color: aqua; */
        width: 90vw;
        height: 20vh;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sec-1-right {
        /* background-color: aqua; */
        margin-right: 0px;
    }

    .sec-1-right > img {
        height: 40vh;
        width: 90vw;
        margin-right: 0px;
        
    }

    .title {
        font-size: 30px;
        width: 90vw;
        /* background-color: aqua; */
        text-align: left;
    }

    .description {
        font-size: 17px;
        width: 90vw;
        text-align: left;
    }

    .sec-2 {
        display: flex;
        flex-direction: column;
    }

    .sec-2-left > img {
        height: 40vh;
        width: 90vw;
    }

    .sec-2-right {
        /* background-color: aqua; */
        width: 90vw;
        gap: 2vh;
    }

    .title2 {
        font-size: 25px;
        width: 70vw;
    }
    
    .description2 {
        font-size: 17px;
    }

    .inputs {
        width: 90vw;
        /* background-color: aqua; */
    }

    .input {
        width: 81vw;
        height: 5.5vh;
        font-size: 100%;
    }

    .button-1 {
        font-size: 100%;
        width: 30vw;
        height: 5.5vh;
    }

    .logo > img {
        height: 2vh;
        width: 18vw;
    }

    .central {
        display: flex;
        align-items: center;
        justify-content: left; 
        margin-right: 0px;
    }

    .central-t {
        font-size: 110%;
    }

    .opcoes {
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    .title-foot {
        font-size: 110%;
    }

    .caminhos {
        font-size: 100%;
    }

    .ajuda {
        width: 75%;
        margin-top: 5%;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }

    .opcoes {
        display: flex;
        gap: 5vh;
        flex-direction: column;
    }

    .nav {
        background-color: black;
        /* height: 13vh; */
        width: 100%;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        /* gap: 40%; */
    }

    footer {
        /* height: 120vh; */
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .news {
        display: none;
    }
    
    .input-botao {
        display: none;
    }

    .loc {
        width: 70.5vw;
        margin-left: 20%;
        font-size: 80%;
    }

}